*.pyc
fear&hunger/**/*.*
!fear&hunger/www/js/libs/archipelago.js
!fear&hunger/www/js/libs/archipelago-global-export.js
!fear&hunger/www/js/libs/seedrandom.js
!fear&hunger/www/js/plugins/Fungerpelago.js
!fear&hunger/www/js/plugins.js
!fear&hunger/www/index.html
!fear&hunger/www/package.json
!fear&hunger/www/data/CommonEvents.json
!fear&hunger/www/data/MapInfos.json
!fear&hunger/www/data/System.json
!fear&hunger/www/data/Map002.json
!fear&hunger/www/data/Map010.json
!fear&hunger/www/data/Map072.json
!fear&hunger/www/data/Map074.json
!fear&hunger/www/data/Map076.json
!fear&hunger/www/data/Map077.json
!fear&hunger/www/data/Map182.json
!fear&hunger/www/data/Map001.json
!fear&hunger/www/data/Map004.json
!fear&hunger/www/data/Map128.json
/Archipelago-0.6.6
