*.pyc
fear&hunger/**/*.*
!fear&hunger/www/js/libs/archipelago.js
!fear&hunger/www/js/libs/archipelago-global-export.js
!fear&hunger/www/js/libs/seedrandom.js
!fear&hunger/www/js/plugins/Fungerpelago.js
!fear&hunger/www/js/plugins.js
!fear&hunger/www/index.html
!fear&hunger/www/package.json
!fear&hunger/www/data/CommonEvents.json
!fear&hunger/www/data/MapInfos.json
!fear&hunger/www/data/System.json
!fear&hunger/www/data/Map002.json
!fear&hunger/www/data/Map010.json
!fear&hunger/www/data/Map072.json
!fear&hunger/www/data/Map074.json
!fear&hunger/www/data/Map076.json
!fear&hunger/www/data/Map077.json
!fear&hunger/www/data/Map182.json
!fear&hunger/www/data/Map001.json
!fear&hunger/www/data/Map004.json
!fear&hunger/www/data/Map128.json
!fear&hunger/www/data/Map009.json
!fear&hunger/www/data/Map014.json
!fear&hunger/www/data/Map029.json
!fear&hunger/www/data/Map051.json
!fear&hunger/www/data/Map183.json
!fear&hunger/www/data/Map003.json
!fear&hunger/www/data/Map031.json
!fear&hunger/www/data/Map053.json
!fear&hunger/www/data/Map075.json
!fear&hunger/www/data/Map006.json
!fear&hunger/www/data/Map037.json
!fear&hunger/www/data/Map059.json
!fear&hunger/www/data/Map019.json
!fear&hunger/www/data/Map067.json
!fear&hunger/www/data/Map045.json
!fear&hunger/www/data/Map021.json
!fear&hunger/www/data/Map046.json
!fear&hunger/www/data/Map023.json
!fear&hunger/www/data/Map024.json
!fear&hunger/www/data/Map148.json
!fear&hunger/www/data/Map149.json
!fear&hunger/www/data/Map150.json
!fear&hunger/www/data/Map151.json
!fear&hunger/www/data/Map108.json
!fear&hunger/www/data/Map101.json
!fear&hunger/www/data/Map038.json
!fear&hunger/www/data/Map008.json
!fear&hunger/www/data/Map039.json
!fear&hunger/www/data/Map011.json
!fear&hunger/www/data/Map184.json
/Archipelago-0.6.6
